<div class="modal fade" id="newTaskDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for(@task, html: { class: "form-horizontal" }) do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">New Task</h4>
        </div>
        <div class="modal-body">
          <!-- form -->
          <div class="form-group">
            <%= f.label(:title, 'Title:', class: 'control-label col-xs-2') %>
            <div class="col-xs-10">
              <%= f.text_field(:title, class: 'form-control', placeholder: 'Task name') %>
            </div>
          </div>

          <div class="form-group has-feedback">
            <%= f.label(:due_date, 'Due Date:', class: 'control-label col-xs-2') %>
            <div class="col-xs-4">
              <%= f.text_field(:due_date, class: 'form-control select-date') %>
              <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
            </div>

            <%= label_tag('task[due_time]', 'Due Time:', class: 'control-label col-xs-2') %>
            <div class="col-xs-4">
              <%= time_field_tag('task[due_time]', nil, class: 'form-control') %>
            </div>
          </div>

          <div class="form-group has-feedback">
            <%= f.label(:duration, 'Duration:', class: 'control-label col-xs-2') %>
            <div class="col-xs-4">
              <%= f.text_field(:duration, class: 'form-control') %>
              <span class="form-control-feedback">min</span>
            </div>
          </div>

          <div class="form-group">
            <%= f.label(:priority, 'Priority:', class: 'control-label col-xs-2') %>
            <div class="col-xs-10">
              <label class="radio-inline">
                <%= f.radio_button(:priority, 1) %> Low
              </label>
              <label class="radio-inline">
                <%= f.radio_button(:priority, 2) %> Medium
              </label>
              <label class="radio-inline">
                <%= f.radio_button(:priority, 3) %> High
              </label>
            </div>
          </div>

          <div class="form-group">
            <%= f.label(:difficulty, 'Difficulty:', class: 'control-label col-xs-2') %>
            <div class="col-xs-10">
              <label class="radio-inline">
                <%= f.radio_button(:difficulty, 1) %> Low
              </label>
              <label class="radio-inline">
                <%= f.radio_button(:difficulty, 2) %> Medium
              </label>
              <label class="radio-inline">
                <%= f.radio_button(:difficulty, 3) %> High
              </label>
            </div>
          </div>

          <div class="form-group has-feedback">
            <%= f.label(:tag_name, 'Tag:', class: 'control-label col-xs-2') %>
            <div class="col-xs-10">
              <%= f.text_field(:tag_name, class: 'form-control') %>
              <span class="form-control-feedback colorpicker">
                <%= f.text_field(:tag_color, class: 'basic', value: 'orange') %>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <%= f.label(:description, 'Description:', class: 'control-label') %>
              <%= f.text_area(:description, class: 'form-control', rows: '3') %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <!-- buttons -->
          <%= button_tag 'Cancel', type: 'button', data: { dismiss: 'modal' }, class: 'btn btn-default' %>
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>