<% content_for :page_title, 'Preferences | ' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h1>My Work Style</h1>
      </div>
      <%= render partial: 'shared/flash_messages' %>
      <%= form_for([@user, @preference]) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>

        <%= f.submit 'Save', class: 'btn btn-success' %>
        <%= link_to 'Cancel', calendars_path, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
