<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Real-Time Productivity</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= "#{controller_name}-#{action_name}" %>">

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'RTP', root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <% if current_user.present? %>
        <%= form_for(current_user_session, method: :delete, html: { class: 'navbar-form navbar-right', role: 'form' }) do |f| %>
          <%= f.submit('Sign out', class: 'btn btn-default') %>
        <% end %>
        <p class="navbar-text navbar-right">
          Welcome, <%= current_user.full_name %>
        </p>
      <% else %>
        <%= form_tag(user_sessions_path, class: 'navbar-form navbar-right', role: 'form') do %>
          <div class="form-group">
            <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Email' %>
          </div>
          <div class="form-group">
            <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password' %>
          </div>
          <%= submit_tag 'Sign in', class: 'btn btn-success' %>
        <% end %>
      <% end %>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<%= yield %>

</body>
</html>
